In [2]:
import pandas as pd

In [5]:
pd.Series([1,2,3,4,5,5 ])

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [6]:
pd.Series([1,2,3,4,5 ])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
series_1 = pd.Series([1,2,3,4,5,6])

In [10]:
series_1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
series_1[0]

1

series_1 + 1

In [18]:
8series_1 > 3

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [19]:
series_1[series_1 > 3]

3    4
4    5
5    6
dtype: int64

In [20]:
series_1.last

<bound method Series.last of 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64>

In [21]:
import numpy as np

In [22]:
np.exp(series_1)

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
5    403.428793
dtype: float64

In [23]:
np.log(series_1)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
5    1.791759
dtype: float64

In [26]:
serie = pd.Series ([1,3,-4,3,5],index = ['a','b','c','d','e'])

In [31]:
serie.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [30]:
states = ['OH','AK','NT','VE','MA']

In [33]:
serie_states = pd.Series(serie.values,index = states)

In [34]:
serie_states

OH    1
AK    3
NT   -4
VE    3
MA    5
dtype: int64

In [35]:
serie_states.index[serie_states>0]

Index([u'OH', u'AK', u'VE', u'MA'], dtype='object')

In [36]:
serie_states_b = serie_states.copy()*50

In [37]:
serie_states_b

OH     50
AK    150
NT   -200
VE    150
MA    250
dtype: int64

In [40]:
serie_states_b = serie_states_b[serie_states_b > 0]

In [41]:
serie_states_b

OH     50
AK    150
VE    150
MA    250
dtype: int64

In [42]:
serie_states_bool = serie_states_b[serie_states_b > 0] > 100

In [43]:
serie_states_bool

OH    False
AK     True
VE     True
MA     True
dtype: bool

In [44]:
#Dataframes

In [79]:
data = { 'pop1':[1.5,1.7,3.6,2.4,2.9],'state':['Ohio','Ohio','Ohio','Nevada','Nevada'] , 'year':[2000,2001,2002,2001,2002]}

In [80]:
data

{'pop1': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [81]:
df2 = pd.DataFrame (data,index =['a','b','c','d','e'])

In [82]:
df2

   pop1   state  year
a   1.5    Ohio  2000
b   1.7    Ohio  2001
c   3.6    Ohio  2002
d   2.4  Nevada  2001
e   2.9  Nevada  2002

In [83]:
debt = pd.Series ([1.2,3,5.3],index = ['a','d','e'])

df

In [84]:
df2['debt'] = debt

In [85]:
df2

   pop1   state  year  debt
a   1.5    Ohio  2000   1.2
b   1.7    Ohio  2001   NaN
c   3.6    Ohio  2002   NaN
d   2.4  Nevada  2001   3.0
e   2.9  Nevada  2002   5.3

In [86]:
df2['indebted'] = df2['debt'] >5

In [87]:
df2

   pop1   state  year  debt indebted
a   1.5    Ohio  2000   1.2    False
b   1.7    Ohio  2001   NaN    False
c   3.6    Ohio  2002   NaN    False
d   2.4  Nevada  2001   3.0    False
e   2.9  Nevada  2002   5.3     True

In [88]:
df2['debt'] = df2['debt'].fillna(0)

##

df2

In [89]:
df2

   pop1   state  year  debt indebted
a   1.5    Ohio  2000   1.2    False
b   1.7    Ohio  2001   0.0    False
c   3.6    Ohio  2002   0.0    False
d   2.4  Nevada  2001   3.0    False
e   2.9  Nevada  2002   5.3     True

In [90]:
def deuda(n):
    if n < 0:
        return 'DE'
    if n > 5:
        return 'VE'
    else:        
        return 'ES'

In [91]:
df2['debt'].apply(deuda)

a    ES
b    ES
c    ES
d    ES
e    VE
Name: debt, dtype: object

In [92]:
df2.debt

a    1.2
b    0.0
c    0.0
d    3.0
e    5.3
Name: debt, dtype: float64

In [94]:
df2.pop1

a    1.5
b    1.7
c    3.6
d    2.4
e    2.9
Name: pop1, dtype: float64

In [97]:
df2[df2['pop1']>2]

   pop1   state  year  debt indebted
c   3.6    Ohio  2002   0.0    False
d   2.4  Nevada  2001   3.0    False
e   2.9  Nevada  2002   5.3     True

In [98]:
df2['pop1']['a']

1.5

In [101]:
df2['pop1']['c':'d']

c    3.6
d    2.4
Name: pop1, dtype: float64

In [105]:
df2[[ 'pop1','debt']]

   pop1  debt
a   1.5   1.2
b   1.7   0.0
c   3.6   0.0
d   2.4   3.0
e   2.9   5.3

In [106]:
df2.columns[3:5]

Index([u'debt', u'indebted'], dtype='object')

In [107]:
df2[df2.columns[3:5]]

   debt indebted
a   1.2    False
b   0.0    False
c   0.0    False
d   3.0    False
e   5.3     True

In [108]:
##coge de la 3 a la 4 no la 5

In [110]:
year=df2['year']

In [112]:
year.sort_values()

a    2000
b    2001
d    2001
c    2002
e    2002
Name: year, dtype: int64

In [113]:
year.rank()

a    1.0
b    2.5
c    4.5
d    2.5
e    4.5
Name: year, dtype: float64

In [114]:
year.sort_values().rank()

a    1.0
b    2.5
d    2.5
c    4.5
e    4.5
Name: year, dtype: float64