In [1]:
path = '/home/dsc/Data/us_dot/otp/'

In [2]:
! ls {path}

On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_5.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_3.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_4.zip	On_Time_On_Time_Performance_2015_8.zip

In [3]:
files = ! ls {path}

In [4]:
first_file = files[0]

In [5]:
first_file

'On_Time_On_Time_Performance_2015_1.zip'

In [6]:
!unzip -l {path + first_file} # -l lista los ficheros

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  04-16-2015 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  04-16-2015 20:02   readme.html
---------                     -------
211645486                     2 files

In [7]:
!unzip -o  {path + first_file} readme.html -d $(pwd)

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: /home/dsc/readme.html

In [8]:
from IPython.display import IFrame

In [9]:
IFrame('readme.html',width=700, height=350)

In [10]:
IFrame('http://www.elpais.es',width=400, height=100)

In [11]:
import os
import zipfile
import pandas as pd

In [12]:
filenames = os.listdir(path)

In [13]:
filenames

['On_Time_On_Time_Performance_2015_6.zip',
 'On_Time_On_Time_Performance_2015_8.zip',
 'On_Time_On_Time_Performance_2015_1.zip',
 'On_Time_On_Time_Performance_2015_5.zip',
 'On_Time_On_Time_Performance_2015_2.zip',
 'On_Time_On_Time_Performance_2015_7.zip',
 'On_Time_On_Time_Performance_2015_4.zip',
 'On_Time_On_Time_Performance_2015_3.zip']

In [14]:
zip_file = zipfile.ZipFile(path + filenames[2])

In [15]:
type(zip_file)

zipfile.ZipFile

In [16]:
csv_file = zip_file.open(filenames[2].split('.')[0]+'.csv')

In [17]:
filenames[2].split('.')[0]+'.csv'

'On_Time_On_Time_Performance_2015_1.csv'

In [18]:
type(csv_file )

zipfile.ZipExtFile

In [19]:
df = pd.read_csv(csv_file,header=0)

/home/dsc/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       ...
       u'Div4TailNum', u'Div5Airport', u'Div5AirportID', u'Div5AirportSeqID',
       u'Div5WheelsOn', u'Div5TotalGTime', u'Div5LongestGTime',
       u'Div5WheelsOff', u'Div5TailNum', u'Unnamed: 109'],
      dtype='object', length=110)

In [22]:
len(df.columns)

110

In [23]:
df.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,469968,469968,469968,469968.000000,469968.000000,469968.000000,469968.000000,469968.000000,469968.000000,469968.000000,...,0,0,0,0,0,0,0,0,0,0
mean,2015,1,1,15.853001,4.025559,19980.920950,2266.351901,12669.404240,1266943.081067,31714.181421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0,0,0,8.952803,1.933772,399.259064,1804.269617,1516.976267,151697.322958,1284.310179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2015,1,1,1.000000,1.000000,19393.000000,1.000000,10135.000000,1013503.000000,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2015,1,1,8.000000,2.000000,19790.000000,760.000000,11292.000000,1129202.000000,30627.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2015,1,1,16.000000,4.000000,19977.000000,1735.000000,12889.000000,1288903.000000,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2015,1,1,24.000000,6.000000,20366.000000,3488.000000,13930.000000,1393003.000000,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2015,1,1,31.000000,7.000000,21171.000000,9793.000000,16218.000000,1621801.000000,35991.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
len(df)

469968

In [25]:
df.shape

(469968, 110)

In [26]:
non_null_counts = df.count()

In [27]:
type(non_null_counts)

pandas.core.series.Series

In [28]:
non_null_counts

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [32]:
len(non_null_counts [non_null_counts>1000])

71

##

In [33]:
cols_to_drop = non_null_counts[non_null_counts<1000]

In [34]:
df2 = df.drop(cols_to_drop.index,axis=1) #axis=1 son columnas

In [35]:
df2.shape

(469968, 71)

In [36]:
df2.ArrDelayMinutes.head()

0    7
1    0
2    0
3    0
4    0
Name: ArrDelayMinutes, dtype: float64

In [37]:
(df2['ArrDelayMinutes']-5).head()

0    2
1   -5
2   -5
3   -5
4   -5
Name: ArrDelayMinutes, dtype: float64

In [38]:
df2['Origin'].head()

0    JFK
1    JFK
2    JFK
3    JFK
4    JFK
Name: Origin, dtype: object

In [39]:
df2['Origin'] + '_airport'

0         JFK_airport
1         JFK_airport
2         JFK_airport
3         JFK_airport
4         JFK_airport
5         JFK_airport
6         JFK_airport
7         JFK_airport
8         JFK_airport
9         JFK_airport
10        JFK_airport
11        JFK_airport
12        JFK_airport
13        JFK_airport
14        JFK_airport
15        JFK_airport
16        JFK_airport
17        JFK_airport
18        JFK_airport
19        JFK_airport
20        JFK_airport
21        JFK_airport
22        JFK_airport
23        JFK_airport
24        JFK_airport
25        JFK_airport
26        JFK_airport
27        JFK_airport
28        JFK_airport
29        JFK_airport
             ...
469938    OAK_airport
469939    OAK_airport
469940    OAK_airport
469941    OAK_airport
469942    OAK_airport
469943    OAK_airport
469944    OAK_airport
469945    OAK_airport
469946    OAK_airport
469947    OAK_airport
469948    OAK_airport
469949    OAK_airport
469950    OAK_airport
469951    OAK_airport
469952    OAK_airport
469953    OAK_airport
469954    OAK_airport
469955    OAK_airport
469956    OAK_airport
469957    OAK_airport
469958    OAK_airport
469959    OAK_airport
469960    OAK_airport
469961    OAK_airport
469962    OAK_airport
469963    OAK_airport
469964    OAK_airport
469965    OAK_airport
469966    OAK_airport
469967    IAH_airport
Name: Origin, dtype: object

In [40]:
origin_cols = df2.columns[df2.columns.str.contains('Ori')]

In [41]:
df2[origin_cols].head()

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
0,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22
1,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22
2,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22
3,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22
4,12478,1247802,31703,JFK,"New York, NY",NY,36,New York,22

In [63]:
cols_of_interest = pd.Index(['Origin','OriginCityName','OriginStateName','Dest','DestCityName','DestStateName'])

In [64]:
destination_cols = df2.columns[df2.columns.str.contains('Dest')]

In [65]:
destination_cols

Index([u'DestAirportID', u'DestAirportSeqID', u'DestCityMarketID', u'Dest',
       u'DestCityName', u'DestState', u'DestStateFips', u'DestStateName',
       u'DestWac'],
      dtype='object')

In [66]:
places_cols = origin_cols + destination_cols

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

In [67]:
place_cols = origin_cols | destination_cols

In [68]:
place_cols.difference(cols_of_interest)

Index([u'DestAirportID', u'DestAirportSeqID', u'DestCityMarketID',
       u'DestState', u'DestStateFips', u'DestWac', u'OriginAirportID',
       u'OriginAirportSeqID', u'OriginCityMarketID', u'OriginState',
       u'OriginStateFips', u'OriginWac'],
      dtype='object')

In [69]:
cols_to_drop = place_cols.difference(cols_of_interest)

In [70]:
time_cols_todrop = pd.Series(['Year','Month','Quarter','DayofMonth'])

In [71]:
time_cols_todrop

0          Year
1         Month
2       Quarter
3    DayofMonth
dtype: object

In [72]:
cols_to_drop = cols_to_drop | time_cols_todrop

In [73]:
cols_to_drop

Index([u'DayofMonth', u'DestAirportID', u'DestAirportSeqID',
       u'DestCityMarketID', u'DestState', u'DestStateFips', u'DestWac',
       u'Month', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'OriginState', u'OriginStateFips', u'OriginWac',
       u'Quarter', u'Year'],
      dtype='object')

In [74]:
df3 = df2.drop(cols_to_drop, axis=1)

In [78]:
df3[df3.columns[df3.columns.str.contains('Delay')]].head()

,DepDelay,DepDelayMinutes,DepartureDelayGroups,ArrDelay,ArrDelayMinutes,ArrivalDelayGroups,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-5,0,-1,7,7,0,NaN,NaN,NaN,NaN,NaN
1,-10,0,-1,-19,0,-2,NaN,NaN,NaN,NaN,NaN
2,-7,0,-1,-39,0,-2,NaN,NaN,NaN,NaN,NaN
3,-7,0,-1,-12,0,-1,NaN,NaN,NaN,NaN,NaN
4,-7,0,-1,-8,0,-1,NaN,NaN,NaN,NaN,NaN

In [81]:
df3.columns[df3.columns.str\
                          .contains('Delay')]

Index([u'DepDelay', u'DepDelayMinutes', u'DepartureDelayGroups', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrivalDelayGroups', u'CarrierDelay',
       u'WeatherDelay', u'NASDelay', u'SecurityDelay', u'LateAircraftDelay'],
      dtype='object')

In [79]:
cols_to_drop = df3.columns[df3.columns.str\
                          .contains('Delay')]\
                            .difference(pd.Series(['DepDelay']))

In [80]:
cols_to_drop

Index([u'ArrDelay', u'ArrDelayMinutes', u'ArrivalDelayGroups', u'CarrierDelay',
       u'DepDelayMinutes', u'DepartureDelayGroups', u'LateAircraftDelay',
       u'NASDelay', u'SecurityDelay', u'WeatherDelay'],
      dtype='object')

In [83]:
##fechas

In [84]:
df4 = df3.drop(cols_to_drop, axis=1)

In [85]:
df4.shape

(469968, 45)

In [86]:
df4['DepTime'].head()

0    855
1    850
2    853
3    853
4    853
Name: DepTime, dtype: float64

In [87]:
time = df4['DepTime']

In [ ]:
## convertit 902 en "09:02"

In [93]:
def format_time(fl):# falla entre las 0 y la 1 por tener 3 digitos
    fl_str = str(int(fl))
    
    if len(fl_str) < 4:
        fl_str = "0"+ fl_str
    result = fl_str[:2] + ':' + fl_str[2:]
    return result

In [94]:
df4['DepTime']

0          855
1          850
2          853
3          853
4          853
5          856
6          859
7          856
8          901
9          903
10         854
11         853
12         854
13         856
14         852
15         900
16         852
17         916
18         854
19         853
20         853
21         852
22         854
23        1043
24         903
25         854
26         NaN
27         NaN
28         855
29         858
          ...
469938     557
469939     554
469940     550
469941     558
469942     559
469943     553
469944     553
469945     550
469946     552
469947     554
469948     603
469949     554
469950     557
469951     552
469952     555
469953     551
469954     550
469955     554
469956     556
469957     555
469958     555
469959     552
469960     554
469961     551
469962     549
469963     603
469964     556
469965     556
469966     601
469967     743
Name: DepTime, dtype: float64

In [96]:
df4['DepTime'].fillna(0.0).map(format_time)

0         08:55
1         08:50
2         08:53
3         08:53
4         08:53
5         08:56
6         08:59
7         08:56
8         09:01
9         09:03
10        08:54
11        08:53
12        08:54
13        08:56
14        08:52
15        09:00
16        08:52
17        09:16
18        08:54
19        08:53
20        08:53
21        08:52
22        08:54
23        10:43
24        09:03
25        08:54
26          00:
27          00:
28        08:55
29        08:58
          ...
469938    05:57
469939    05:54
469940    05:50
469941    05:58
469942    05:59
469943    05:53
469944    05:53
469945    05:50
469946    05:52
469947    05:54
469948    06:03
469949    05:54
469950    05:57
469951    05:52
469952    05:55
469953    05:51
469954    05:50
469955    05:54
469956    05:56
469957    05:55
469958    05:55
469959    05:52
469960    05:54
469961    05:51
469962    05:49
469963    06:03
469964    05:56
469965    05:56
469966    06:01
469967    07:43
Name: DepTime, dtype: object

In [97]:
int(902.0/100) % 24 #esto da la hora

9

In [99]:
int(902.0)%100 #esto da los minutos

2

In [100]:
def format_time_f(fl):
    hours = int(fl/100) % 24
    minutes = int(fl) % 100
    result = '%02d:%02d' % (hours,minutes)
    return result

In [105]:
format_time_f(902)

'09:02'

In [106]:
format_time_f(1)

'00:01'

In [108]:
df4['DepTime'].fillna(0.0).map(format_time_f)

0         08:55
1         08:50
2         08:53
3         08:53
4         08:53
5         08:56
6         08:59
7         08:56
8         09:01
9         09:03
10        08:54
11        08:53
12        08:54
13        08:56
14        08:52
15        09:00
16        08:52
17        09:16
18        08:54
19        08:53
20        08:53
21        08:52
22        08:54
23        10:43
24        09:03
25        08:54
26        00:00
27        00:00
28        08:55
29        08:58
          ...
469938    05:57
469939    05:54
469940    05:50
469941    05:58
469942    05:59
469943    05:53
469944    05:53
469945    05:50
469946    05:52
469947    05:54
469948    06:03
469949    05:54
469950    05:57
469951    05:52
469952    05:55
469953    05:51
469954    05:50
469955    05:54
469956    05:56
469957    05:55
469958    05:55
469959    05:52
469960    05:54
469961    05:51
469962    05:49
469963    06:03
469964    05:56
469965    05:56
469966    06:01
469967    07:43
Name: DepTime, dtype: object

In [110]:
df4['DepTime'][df4['DepTime'].isnull()]\
.fillna(0.0).map(format_time_f)

26        00:00
27        00:00
56        00:00
57        00:00
88        00:00
89        00:00
118       00:00
119       00:00
155       00:00
157       00:00
188       00:00
274       00:00
275       00:00
304       00:00
305       00:00
335       00:00
336       00:00
344       00:00
391       00:00
392       00:00
421       00:00
422       00:00
477       00:00
478       00:00
508       00:00
509       00:00
534       00:00
535       00:00
564       00:00
565       00:00
          ...
468838    00:00
468930    00:00
469068    00:00
469113    00:00
469114    00:00
469116    00:00
469126    00:00
469130    00:00
469139    00:00
469140    00:00
469142    00:00
469152    00:00
469156    00:00
469167    00:00
469355    00:00
469435    00:00
469437    00:00
469492    00:00
469497    00:00
469505    00:00
469621    00:00
469640    00:00
469687    00:00
469707    00:00
469795    00:00
469814    00:00
469910    00:00
469911    00:00
469922    00:00
469930    00:00
Name: DepTime, dtype: object

In [112]:
a = ""

In [113]:
a.ljust?

In [114]:
df4['DepTime'][df4['DepTime'].isnull()]\
.fillna(0.0).map(format_time_f)

26        00:00
27        00:00
56        00:00
57        00:00
88        00:00
89        00:00
118       00:00
119       00:00
155       00:00
157       00:00
188       00:00
274       00:00
275       00:00
304       00:00
305       00:00
335       00:00
336       00:00
344       00:00
391       00:00
392       00:00
421       00:00
422       00:00
477       00:00
478       00:00
508       00:00
509       00:00
534       00:00
535       00:00
564       00:00
565       00:00
          ...
468838    00:00
468930    00:00
469068    00:00
469113    00:00
469114    00:00
469116    00:00
469126    00:00
469130    00:00
469139    00:00
469140    00:00
469142    00:00
469152    00:00
469156    00:00
469167    00:00
469355    00:00
469435    00:00
469437    00:00
469492    00:00
469497    00:00
469505    00:00
469621    00:00
469640    00:00
469687    00:00
469707    00:00
469795    00:00
469814    00:00
469910    00:00
469911    00:00
469922    00:00
469930    00:00
Name: DepTime, dtype: object

In [118]:
df4['DepTimeFormatted'] = df4['DepTime'].fillna(0.0).map(format_time_f)

In [121]:
df4['DepTimeFormatted']

0         08:55
1         08:50
2         08:53
3         08:53
4         08:53
5         08:56
6         08:59
7         08:56
8         09:01
9         09:03
10        08:54
11        08:53
12        08:54
13        08:56
14        08:52
15        09:00
16        08:52
17        09:16
18        08:54
19        08:53
20        08:53
21        08:52
22        08:54
23        10:43
24        09:03
25        08:54
26        00:00
27        00:00
28        08:55
29        08:58
          ...
469938    05:57
469939    05:54
469940    05:50
469941    05:58
469942    05:59
469943    05:53
469944    05:53
469945    05:50
469946    05:52
469947    05:54
469948    06:03
469949    05:54
469950    05:57
469951    05:52
469952    05:55
469953    05:51
469954    05:50
469955    05:54
469956    05:56
469957    05:55
469958    05:55
469959    05:52
469960    05:54
469961    05:51
469962    05:49
469963    06:03
469964    05:56
469965    05:56
469966    06:01
469967    07:43
Name: DepTimeFormatted, dtype: object

In [128]:
df4['DepDateTime'] = \
   pd.to_datetime(df4['FlightDate'] + ' ' + \
               df4['DepTimeFormatted'], \
                               format='%Y-%m-%d %H:%M')

In [129]:
df4.head()

,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,...,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,DepTimeFormatted,DepDateTime
0,4,2015-01-01,AA,19805,AA,N787AA,1,JFK,"New York, NY",New York,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,08:55,2015-01-01 08:55:00
1,5,2015-01-02,AA,19805,AA,N795AA,1,JFK,"New York, NY",New York,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,08:50,2015-01-02 08:50:00
2,6,2015-01-03,AA,19805,AA,N788AA,1,JFK,"New York, NY",New York,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,08:53,2015-01-03 08:53:00
3,7,2015-01-04,AA,19805,AA,N791AA,1,JFK,"New York, NY",New York,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,08:53,2015-01-04 08:53:00
4,1,2015-01-05,AA,19805,AA,N783AA,1,JFK,"New York, NY",New York,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,08:53,2015-01-05 08:53:00